<footer>
  <div class="copy">
    &copy; <a href='http://tryolabs.com/'>Tryolabs</a> 2014-2015
  </div>
  <div class="github-badges">
    <iframe src="https://ghbtns.com/github-btn.html?user=tryolabs&repo=metamon&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=tryolabs&repo=metamon&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
  </div>
</footer>
