[program:{{ supervisor_name }}]
command = {{ virtualenv_bin_dir }}/gunicorn --env DJANGO_SETTINGS_MODULE={{ project_name}}.settings --config {{ supervisor_conf_dir }}/gunicorn.conf {{ project_name }}.wsgi
autorestart = false
autostart = false
directory = {{ code_dir }}/{{ project_name }}
user = {{ run_as_user|default(supervisor_name) }}
numprocs = 1
redirect_stderr = True
stopwaitsecs = 10
startsecs = 10
priority = 999
startretries = 3
stdout_logfile = {{ log_dir }}/{{ supervisor_name }}/stdout.log
std_out_logfile_maxbytes = 50MB
std_out_logfile_backups = 10
stderr_logfile = {{ log_dir }}/{{ supervisor_name }}/stderr.log
std_err_logfile_maxbytes = 50MB
std_err_logfile_backups = 10
