/* Layout of the navigation bar */

nav {
  height: $navbar-height;
  line-height: $navbar-height;

  ul {
    width: 200px;
    margin: 0 auto;

    list-style-type: none;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 25px;
    }
  }
}
